{
    "rules": {
        "promise/no-callback-in-promise": "off",
        "mocha/no-hooks-for-single-case": "off",
        "mocha/handle-done-callback": "off",
        "func-names": "off",
        "prefer-arrow-callback": "off",
        "newline-per-chained-call": "off",
        "no-multi-str":"off"
    }
}
