
{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "extends": [
        "airbnb",
        "plugin:promise/recommended",
        "plugin:mocha/recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "promise",
        "mocha"
    ],
    "rules": {
        // One true brace style
        // https://eslint.org/docs/rules/brace-style.html
        "brace-style": [2, "1tbs", { "allowSingleLine": false }],
        // Require following curly brace always
        "curly": ["error", "all"],
        // Don't use single character naming
        "id-length": ["error", { "exceptions": ["i", "_"] }],
        // No method chaining more than 2
        "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
        "no-multiple-empty-lines": ["error", { "max": 1 }],
        // Maximum characters per line
        "max-len": ["error", { "code": 100 }],
        "no-else-return": "off",
        "no-use-before-define": "off",
        "no-console": ["error", { "allow": ["info", "warn", "error"] }],
        "no-unused-vars": ["error", { "argsIgnorePattern": "^_$" }],
        "no-underscore-dangle": ["error", { "allow": ["_id", "__v", "_gridId"] }],
        "no-plusplus": ["error"],
        "promise/always-return": "off",
        "promise/no-callback-in-promise": "error",
        "promise/no-nesting": "error",
        "promise/avoid-new": "error"
    }
}
